@import "../../styles/_variables.scss";

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navigation-height;
}

.navigation__links {
    list-style: none;
    margin: 0;
    line-height: $navigation-height;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navigation__link {
    padding: 0 $grid-gutter-width * 2px;
}
